#container__header {
  background: url("./assets/audi.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding: 1em 0em;
}

#mobilebg {
  background: url("./assets/audi.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1em 0em;
}

#nav {
  display: flex;
  justify-content: center;
}

#nav a:hover {
  border-bottom: 1px solid #fff;
}

#footer__content {
  display: flex;
  justify-content: center;
}

#footer {
  background: "#000";
}

.ui.black.basic.label {
  margin-top: 5px;
}

#cars__section {
  display: flex;
  justify-content: center;
}

#logo {
  min-height: 150px;
  min-width: 150px;
  margin: 0, auto;
}
